<!DOCTYPE html>
<html>
<title>Chat</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/css/style2.css">
<body class="background" onload="fetchDummyChat()">
    <!-- Include Socket.IO client-side library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
<script src="../static/js/index.js"></script>
<div id="sidebar" class="w3-sidebar w3-bar-block w3-light-grey w3-card" style="width:130px">
  <h5 class="w3-bar-item">Contacts</h5>
</div>

<div style="margin-left:130px" style="overflow: hidden;">

  <div id="chat-box" class="w3-container chat">
    <h2>Chat</h2>
    <ul id="chat-list"> 
    </ul>
  </div>

  <span class="textarea send-box msg" role="textbox" id="send-box" contenteditable></span>
  <button onclick="sendMessage()">-></button>

</div>

</body>
</html>