<html>
    <head>
        <title>
            Login Page
        </title>
        <link rel="stylesheet" href="../static/css/style.css"/>
    </head>
    <body>
        Please log in to chat
        <script src="../static/js/signup.js"></script>
        <input type="text" id="userID" placeholder="Username">
        <input type="text" id="password" placeholder="Password">
        <input type="text" id="email" placeholder="Recovery E-Mail">

        <button onclick="createAccount()">Create Account</button>


    </body>
</html>